<ion-view title="Registrar">
    <ion-content padding="true" class="has-header">
        <button class="button button-stable button-block  icon ion-android-camera" ng-click="getPhoto()"></button>
        <form>
            <label class="item item-input">
                <span class="input-label">Tag</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-positive button-block ">Registrar Horário</button>
    </ion-content>
</ion-view>
