<ion-view title="Registrar">
    <ion-content padding="true" class="has-header">
        <button class="button button-stable button-block  icon ion-android-camera" ng-click="getPhoto()"></button>
        <form>
		<div class="item item-image" ng-show="imageUrl">
			<img ng-src="{{imgUrl}}" style="max-width: 100%" ng-model="register.imgUrl">
  		</div>
            <label class="item item-input item-select">
                <span class="input-label">Tag</span>
                <select ng-model="register.tag">
                    <option value="1">Entrada</option>
                    <option value="2">Saida</option>
                </select>
            </label>
        </form>
        <button class="button button-positive button-block " type="submit">Registrar Horário</button>
	<div ng-hide="longi">
	</div>
    </ion-content>
</ion-view>
