/* Empty. Add your own CSS if you like */

#mapDiv { width: 100%; height: 500px; }
map {
	display: block;
	width: 100%;
	height: 100%;
}
.scroll {
  height: 100%;
}

.browser h1{
	text-align: center;
	margin-top: 30px;
}

.browser img {
	width: 100%;
}
